@import "tailwindcss";

@theme {
  --color-cyber-bg: #05070f;
  --color-cyber-card: #0c1021;
  --color-cyber-border: #1e293b;
  --color-cyber-cyan: #00f0ff;
  --color-cyber-purple: #7000ff;
  --color-cyber-green: #00ff66;

  --background-image-cyber-grid: radial-gradient(circle, rgba(0, 240, 255, 0.05) 1px, transparent 1px);
}

:root {
  color-scheme: dark;
}

body {
  background-color: var(--color-cyber-bg);
  color: #e2e8f0;
  min-height: 100vh;
}